<section id="news-feed-nav">
    <div class="welcome-box">
      <a href="/news-feed">
        <div class="user-avatar">
          <div class="user-avatar-inner"><img width="40" height="40" src="/assets/user-chuck.jpg" /></div>
        </div>
        <div class="user-name">Chuck Norris</div>
      </a>
    </div>
  </section><section id="edit-profile">
    <div class="box">
      <header class="box-header">
        <h1>Editar Perfil</h1>
      </header>
      <div class="box-content">
        <form action="" method="get">
          <div class="form-row">
            <div class="form-label">
              <label class="right inline" for="field-primeiro-nome">Avatar:</label>
            </div>
            <div class="form-field">
              <div class="file upload">
                <div class="fileupload thumbnail" style="width: 40px; height: 40px; float: left; border: 1px solid #ccc;"><img width="40" height="40" src="/assets/user-chuck.jpg" /></div>
                <input style="float: left; margin: 10px 0 23px 5px;" tabindex="1" type="file">
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-label">
              <label class="right inline" for="field-primeiro-nome">Primeiro Nome:</label>
            </div>
            <div class="form-field">
              <input id="field-primeiro-nome" tabindex="2" type="text">
            </div>
          </div>
          <div class="form-row">
            <div class="form-label">
              <label class="right inline" for="field-ultimo-nome">Último Nome:</label>
            </div>
            <div class="form-field">
              <input id="field-ultimo-nome" tabindex="3" type="text">
            </div>
          </div>
          <div class="form-row">
            <div class="form-label">
              <label class="right inline" for="field-email-signup">Email:</label>
            </div>
            <div class="form-field">
              <input id="field-email-signup" tabindex="4" type="text">
            </div>
          </div>
          <div class="form-row">
            <div class="form-label">
              <label class="right inline" for="field-password-signup">Senha:</label>
            </div>
            <div class="form-field">
              <input id="field-password-signup" tabindex="5" type="password">
            </div>
          </div>
          <div class="form-row">
            <div class="form-label">
              <label class="right inline" for="field-password-signup">Sexo:</label>
            </div>
            <div class="form-field">
              <select tabindex="6"><option>Selecionar</option></select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-label">
              <label class="right inline" for="field-password-signup">Data de Nascimento:</label>
            </div>
            <div class="form-field">
              <select class="four columns" tabindex="7"><option>Dia</option></select><select class="four columns" tabindex="8"><option>Mês</option></select><select class="four columns" tabindex="9"><option>Ano</option></select>
            </div>
          </div>
          <div class="form-row form-action">
            <div class="form-label"></div>
            <div class="form-field">
              <button class="small button" tabindex="10" type="Submit">Salvar Alterações</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>