<ul>
  <li><a href="/frontend/login">Login</a></li>
  <li><a href="/frontend/statuses">Statuses</a></li>
  <li><a href="/frontend/new-status">New Status</a></li>
  <li><a href="/frontend/profile">Profile</a></li>
  <li><a href="/frontend/show-status">Show Status</a></li>
  <li><a href="/frontend/forgot-password">Forgot password</a></li>
  <li><a href="/frontend/edit-user">Edit user</a></li>
</ul>