<section id="profile">
  <div id="cover-page">
    <div id="cover-page-image"><img height="175" src="/assets/cover-image.jpg" /></div>
    <div id="cover-page-user">
      <div class="item-image">
        <span class="item-image-wrap"><img width="120" height="120" src="/assets/user-chuck.jpg" /></span>
      </div>
      <div class="user-name">
        <span>Chuck Norris</span>
      </div>
    </div>
  </div>
  <div class="box">
    <div id="user-activity">
      <div class="list-view ui-comments-list">
        <ul>
          <li>
            <div class="item-image usuario">
              <span class="item-image-wrap"><img width="40" height="40" src="/assets/user-chuck.jpg" /></span>
            </div>
            <div class="item-info">
              <div class="item-activity">
                <div class="user-name">
                  <a href="/profile">Chuck Norris</a>
                </div>
                <div class="user-comment">
                  <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis.</p>
                </div>
                <div class="item-actions">
                  <span class="action-like"><a href="#">Curtir</a></span><span class="action-comment"><a href="#">Comentar</a></span><span class="count-likes"><a href="#">2</a></span><span class="count-comments"><a href="#">0</a></span><span class="timestamp"><time class="js-timeago" datetime="">20 de Setembro</time></span>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-image usuario">
              <span class="item-image-wrap"><img width="40" height="40" src="/assets/user-chuck.jpg" /></span>
            </div>
            <div class="item-info">
              <div class="item-activity">
                <div class="user-name">
                  <a href="/profile">Rafael Torales</a>
                </div>
                <div class="user-comment">
                  <p>Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim.</p>
                </div>
                <div class="item-actions">
                  <span class="action-like"><a href="#">Curtir</a></span><span class="action-comment"><a href="#">Comentar</a></span><span class="count-likes"><a href="#">2</a></span><span class="count-comments"><a href="#">0</a></span><span class="timestamp"><time class="js-timeago" datetime="">20 de Setembro</time></span>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-image usuario">
              <span class="item-image-wrap"><img width="40" height="40" src="/assets/user-chuck.jpg" /></span>
            </div>
            <div class="item-info">
              <div class="item-activity">
                <div class="user-name">
                  <a href="/profile">Chuck Norris</a>
                </div>
                <div class="user-comment">
                  <p>Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim.</p>
                  <p><img src="/assets/wall-chuck-norris.jpeg" /></p>
                </div>
                <div class="item-actions">
                  <span class="action-like"><a href="#">Curtir</a></span><span class="action-comment"><a href="#">Comentar</a></span><span class="count-likes"><a href="#">2</a></span><span class="count-comments"><a href="#">0</a></span><span class="timestamp"><time class="js-timeago" datetime="">20 de Setembro</time></span>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-image usuario">
              <span class="item-image-wrap"><img width="40" height="40" src="/assets/user-chuck.jpg" /></span>
            </div>
            <div class="item-info">
              <div class="item-activity">
                <div class="user-name">
                  <a href="/profile">Chuck Norris</a>
                </div>
                <div class="user-comment">
                  <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis.</p>
                </div>
                <div class="item-actions">
                  <span class="action-like"><a href="#">Curtir</a></span><span class="action-comment"><a href="#">Comentar</a></span><span class="count-likes"><a href="#">2</a></span><span class="count-comments"><a href="#">0</a></span><span class="timestamp"><time class="js-timeago" datetime="">20 de Setembro</time></span>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-image usuario">
              <span class="item-image-wrap"><img width="40" height="40" src="/assets/user-chuck.jpg" /></span>
            </div>
            <div class="item-info">
              <div class="item-activity">
                <div class="user-name">
                  <a href="/profile">Rafael Torales</a>
                </div>
                <div class="user-comment">
                  <p>Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim.</p>
                </div>
                <div class="item-actions">
                  <span class="action-like"><a href="#">Curtir</a></span><span class="action-comment"><a href="#">Comentar</a></span><span class="count-likes"><a href="#">2</a></span><span class="count-comments"><a href="#">0</a></span><span class="timestamp"><time class="js-timeago" datetime="">20 de Setembro</time></span>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>